<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox [checked]="todo.done" (click)="updateDone(todo.id)"
                style=" white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 850px;">
                    {{todo.title}}
                </mat-checkbox>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="fg">
            <mat-form-field class="center-text">
                <mat-label>Update title</mat-label>
                <input matInput required formControlName="title" (keyup.enter)="update(todo.id)">
            </mat-form-field>
            <mat-icon style="margin-left: 98%; margin-top: 1.5%; cursor: pointer;" (click)="delete(todo.id)">delete</mat-icon>
        </form>

    </mat-expansion-panel>
</mat-accordion>