<mat-card style="height: 100%;">
  <mat-card-title class="center center-text">Todo List</mat-card-title>

  <mat-card-subtitle>
    <form class="center center-text" [formGroup]="fg">
      <p class="center-text">Add a todo item here!</p>
      <mat-form-field class="center-text">
        <mat-label>Title</mat-label>
        <input matInput required formControlName="title" (keyup.enter)="submit()">
      </mat-form-field>
    </form>  
  </mat-card-subtitle>

  <mat-card-subtitle class="center">
    <mat-progress-spinner 
    mode="indeterminate"
    style="margin: 0 auto;"
    *ngIf="service.loading">
    </mat-progress-spinner>

    <mat-card-actions>
      <div *ngIf="!service.loading">
        <div *ngFor="let todo of todos$ | async">
           <app-todo [todo]="todo"></app-todo>
        </div>
      </div>
      <div *ngIf="(todos$ | async)?.length == 0">
        <p class="center-text">Nothing to be done! :)</p>
      </div>
    </mat-card-actions>
  </mat-card-subtitle>
</mat-card>